{
	"parser": "babel-eslint",
	"extends": "airbnb-base",
	"env": {
		"node": true,
		"es6": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"max-len": [
			"error",
			{
				"code": 100,
				"ignoreUrls": true
			}
		],
		"consistent-return": 0,
		"comma-dangle": 0,
		"no-fallthrough": 0
	},
	"globals": {
		"io": true
	}
}
